body {
  background-color: #d6d2d1;
  text-align: center;
}

p {
  display: inline;
  margin-right: 10px;
  text-align: right;
}

h1 {
  font-family: serif;
  color: blue;
  text-align: center;
}

#player {
  font-size: 20px;
  color: brown;
  background: white;
  padding: 5px;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  padding: 10px;
  height: 80%;
}

.row {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 33.33%;
  width: 100%;
}

.holder {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  width:  50px;
  height: 50px;
  margin: 5% 5% 5% 5%;
}

.coin1 {
  position: absolute;
  background: red;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.coin2 {
  position: absolute;
  background: yellow;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.desc {
  text-align: left;
  float: left;
  font-size: 130%;
  padding: 10px;
}

#last {
  font-family: verdana;
  font-size: 150%;
  font-weight: bold;
  color: green;
}
